
@{
    ViewData["Title"] = "IndexAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>IndexAdmin</h1>


<h2>Book Covers</h2>

<div>
    @foreach (var book in Model)
    {
        <div style="float: left; margin: 10px;">
            <img src="@Url.Content(book.ImagePath)" alt="@book.Title" style="max-width: 150px; max-height: 200px;" />
            <p>@book.Title</p>
        </div>
    }
</div>