html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/* Add your custom styles here */
.card {
    border: 1px solid #ddd;
    border-radius: 8px;
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

#chartContainer {
    width: 50%;
    margin: auto;
    padding: 20px;
}
